<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <main class="container">
        <div class="row text-center justify-content-center">
            <div class="col">
                <h1 class="mt-5 display-4">Welcome to the Financial Manager</h1>

                <h2 class="mt-4">Incomes</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>List All Incomes:</strong> <a href="https://finances-manager.onrender.com/incomes/">GET /incomes/</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Create New Income:</strong> <a href="https://finances-manager.onrender.com/incomes/">POST /incomes/</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Get Income Detail:</strong> <a href="https://finances-manager.onrender.com/incomes/{id}/">GET /incomes/{id}/</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Update Income:</strong> <a href="https://finances-manager.onrender.com/incomes/{id}/">PUT /incomes/{id}/</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Delete Income:</strong> <a href="https://finances-manager.onrender.com/incomes/{id}/">DELETE /incomes/{id}/</a>
                    </li>
                </ul>

                <h2 class="mt-4">Expenses</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <li class="list-group-item">
                            <strong>List All Expenses:</strong> <a href="https://finances-manager.onrender.com/expenses/">GET /expenses/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Create New Expense:</strong> <a href="https://finances-manager.onrender.com/expenses/">POST /expenses/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Get Income Detail:</strong> <a href="https://finances-manager.onrender.com/expenses/{id}/">GET /expenses/{id}/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Update Expense:</strong> <a href="https://finances-manager.onrender.com/expenses/{id}/">PUT /expenses/{id}/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Delete Expense:</strong> <a href="https://finances-manager.onrender.com/expenses/{id}/">DELETE /expenses/{id}/</a>
                        </li>
                    </li>
                </ul>

                <h2 class="mt-4">Goals</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <li class="list-group-item">
                            <strong>List All Goals:</strong> <a href="https://finances-manager.onrender.com/incomes/">GET /incomes/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Create New goal:</strong> <a href="https://finances-manager.onrender.com/goals/">POST /goals/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Get Goal Detail:</strong> <a href="https://finances-manager.onrender.com/goals/{id}/">GET /goals/{id}/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Update Goal:</strong> <a href="https://finances-manager.onrender.com/goals/{id}/">PUT /goals/{id}/</a>
                        </li>
                        <li class="list-group-item">
                            <strong>Delete Goal:</strong> <a href="https://finances-manager.onrender.com/goals/{id}/">DELETE /goals/{id}/</a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
