<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Finances API</title>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <main class="container">
            <div class="row text-center justify-content-center">
                <div class="col">
                    <h1 class="mt-5 display-4">Welcome to the Financial Manager</h1>

                    <h2 class="mt-4">Incomes</h2>
                    <ul class="list-group">
                        {% for income in incomes %}
                        <li class="list-group-item">
                            {{ income.description }} - {{ income.amount }}
                        </li>
                        {% endfor %}
                    </ul>

                    <h2 class="mt-4">Expenses</h2>
                    <ul class="list-group">
                        {% for expense in expenses %}
                        <li class="list-group-item">
                            {{ expense.description }} - {{ expense.amount }}
                        </li>
                        {% endfor %}
                    </ul>

                    <h2 class="mt-4">Goals</h2>
                    <ul class="list-group">
                        {% for goal in goals %}
                        <li class="list-group-item">
                            {{ goal.description }} - {{ goal.target_amount }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>
